<!DOCTYPE html>
<html>
  <head>
    <title>Channelchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('slack_icon.png') %>
    <script type="text/javascript">
      window.splashURL = '<%= image_url('splash.jpg') %>';
      window.accountURL = '<%= image_url('account_box_grey.png') %>';
      window.iconURL = '<%= image_url('slack_icon.png')  %>';
    </script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57004f554d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
